body{
    background-color: #01AAFF;
}
.boton{
    height: 30px;
    background-color:brown;

}

.borrar{
    margin: 10px;
    height: 30px;
    background-color: white;

}
.borrares{
    margin: 10px;
    height: 30px;
    background-color: white;

}

<<<<<<< HEAD
.titulos{
    display: flex;
    gap: 184px;
}
.input{
    display: flex;
    gap: 46px;
}
=======


>>>>>>> e766ce2c69a08adbef4859b51dcd6b3dafca8628
.tareaAlgunMomento{
    display: flex;
    gap: 19px;
}
.ul{
    display: flex;
    gap: 184px;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.columna{
    width: 150%;
}

.columna ul{
    padding-left: 20px;
}